<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}

    {% render 'favicon' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700;800;900&display=swap" rel="stylesheet">

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% render 'core-assets' %}

    {{ content_for_header }}

    <script src="{{ 'product-form.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-drawer.js' | asset_url }}" defer></script>
  </head>

  <body class="{{ template.name }} {{ template.suffix }}">
    {% sections 'header-group' %}
    <main class="flex-1">
      {{ content_for_layout }}
      {% section 'cart-drawer' %}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
